<%= erb :header %>
<h2>URL for your secret</h2>
Your secret can only be viewed ONCE, do not open the URL yourself
<table class="ui basic table">
  <tbody>
    <tr>
      <td>URL with decryption key</td>
      <td><%=full_url%></td>
      <td>
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
          width="110"
          height="14"
          id="clippy" >
            <param name="movie" value="/flash/clippy.swf"/>
            <param name="allowScriptAccess" value="always" />
            <param name="quality" value="high" />
            <param name="scale" value="noscale" />
            <param NAME="FlashVars" value="text=<%=full_url%>">
            <embed src="/flash/clippy.swf"
               width="110"
               height="15"
               name="clippy"
               quality="high"
               allowScriptAccess="always"
               type="application/x-shockwave-flash"
               pluginspage="http://www.macromedia.com/go/getflashplayer"
               FlashVars="text=<%=full_url%>"/>
          </object>
      </td>
    </tr>
    <tr>
      <td>URL without decryption key</td>
      <td><%=short_url%></td>
      <td>
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
          width="110"
          height="14"
          id="clippy" >
            <param name="movie" value="/flash/clippy.swf"/>
            <param name="allowScriptAccess" value="always" />
            <param name="quality" value="high" />
            <param name="scale" value="noscale" />
            <param NAME="FlashVars" value="text=<%=short_url%>">
            <embed src="/flash/clippy.swf"
               width="110"
               height="15"
               name="clippy"
               quality="high"
               allowScriptAccess="always"
               type="application/x-shockwave-flash"
               pluginspage="http://www.macromedia.com/go/getflashplayer"
               FlashVars="text=<%=short_url%>"/>
          </object>
      </td>
    </tr>
    <tr>
      <td>Decryption key</td>
      <td><%=decryption_key%></td>
            <td>
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
          width="110"
          height="14"
          id="clippy" >
            <param name="movie" value="/flash/clippy.swf"/>
            <param name="allowScriptAccess" value="always" />
            <param name="quality" value="high" />
            <param name="scale" value="noscale" />
            <param NAME="FlashVars" value="text=<%=decryption_key%>">
            <embed src="/flash/clippy.swf"
               width="110"
               height="15"
               name="clippy"
               quality="high"
               allowScriptAccess="always"
               type="application/x-shockwave-flash"
               pluginspage="http://www.macromedia.com/go/getflashplayer"
               FlashVars="text=<%=decryption_key%>"/>
          </object>
      </td>
    </tr>
  </tbody>
</table>

<% if key_sent_to_mobile %>
<p>The decryption key is sent to the receiver via SMS, don't forget to provide the URL via another channel</p>
<% end %>
<%= erb :footer %>
