<%= erb :header %>
<h2>URL for your secret</h2>

<p>URL including decryption key:<br/>
<b><%=full_url%></b></p>

<p>Your secret can only be viewed ONCE, do not open the URL yourself</p>

<p>URL without decryption key: <b><a href="<%=short_url%>"><%=short_url%></a></b></p>

<p>Decryption key: <b><%=decryption_key%></b></p>

<% if key_sent_to_mobile %>
<p>The decryption key is sent to the receiver via SMS, don't forget to provide the URL via another channel</p>
<% end %>
<%= erb :footer %>
